<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ArtistsTechnicalTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>367FAF8F2CC2C134006EF090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>367FAFA52CC2C135006EF090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>367FAFAF2CC2C135006EF090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
